

<div layout-padding >
    <h2 class="p-0">Projects</h2>
</div>


<md-card md-theme-watch class="md-card-mini" >
    <md-card-title>
        <md-card-title-media>
            <div class="md-media-sm card-media">
                <img class="md-user-radius" src="https://www.caim.ee.ethz.ch/members/corino/default.png" alt="">
            </div>
        </md-card-title-media>

        <md-card-title-text>
           <div layout="row" flex>
               <div class="ml-15" flex="60" layout="column" layout-align="center start">
                   <span class="md-headline"></span>
                   <span class="md-subhead"></span>
               </div>
               <div flex="60" layout="row" layout-align="end center">
                   <md-button ng-click="" class="md-icon-button launch" aria-label="detete">
                       <md-icon class="mdi mdi-24px mdi-delete cm-icon-red"></md-icon>
                   </md-button>
               </div>
           </div>
        </md-card-title-text>
    </md-card-title>
</md-card>